global
    daemon
    maxconn 1024
	tune.ssl.default-dh-param 2048
	log stdout format raw local0

defaults
    mode http
    timeout connect 5000ms
    timeout client 30000ms
    timeout server 30000ms
	timeout tunnel 8h
	log global

frontend stats
    bind :8404 ssl crt /etc/ssl/live/localhost/localhost.pem

    stats enable
    stats uri /stats
    stats refresh 10s

frontend auth
	bind :7001 ssl crt /etc/ssl/live/localhost/localhost.pem
    
    # use_backend auth

frontend chat
	bind :7002 ssl crt /etc/ssl/live/localhost/localhost.pem

    # use_backend web

frontend k8s
    bind :443 ssl crt /etc/ssl/live/test.com/test.com.pem

    use_backend k8s

# backend auth
#     balance source
#     mode http
#     option forwardfor
#     http-request add-header X-Forwarded-Proto https if { ssl_fc }
#     server auth auth:80

# backend connector
#     balance source
#     mode http
#     option forwardfor
#     http-request add-header X-Forwarded-Proto https if { ssl_fc }
#     server connector connector:80

# backend web
#     balance source
#     mode http
#     option forwardfor
#     http-request add-header X-Forwarded-Proto https if { ssl_fc }
#     server web web:80

backend k8s
    balance source
    mode http
    option forwardfor
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server host 192.168.90.100:80
